/* Remove the default list styles for the third layout */
.third-layout {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .circular-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border: 1px solid #B7B7B7; 
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  /* .circular-link:hover {
    background-color: #f0f0f0; 
  } */
  
  .circular-link i {
    font-size: 20px; /* Adjust icon size */
    color: #fff; /* Icon color */
  }
  